body ,html{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('../public/bg.jpg') #9fffe0 no-repeat;
 	background-size: cover;
  background-attachment: fixed;
  height: 100%;
}


/** Custom CSS */
.main-page-title{
	background: rgba(256,256,256,0.8);
	padding: 10px 20px;
}

.centerInline{
	text-align: center;
}

.centerMargin{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}